*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: var(--axis-color-bg-layout);
  color: var(--axis-color-text-primary);
  font-family: var(--axis-font-family-base);
  transition: background-color var(--axis-motion-duration-mid) var(--axis-motion-ease-in-out);
}
